Package: com.insanj.switcherblur
Name: SwitcherBlur
Pre-Depends: firmware (>= 7.0)
Depends: mobilesubstrate, applist
Version: 1.1.1
Architecture: iphoneos-arm
Description: Blur iOS 7 switcher snapshots.
Maintainer: Julian Weiss <me@insanj.com>
Author: Julian (insanj) Weiss
Section: Tweaks
Icon: file:///Library/PreferenceBundles/SwitcherBlurPrefs.bundle/full@2x.png